
@{
    ViewBag.Title = "changeStatusToCompleted";
}

<h2>changeStatusToCompleted</h2>
<body>
    <h2>change Status To Completed</h2>
    <table style="width:100%">
        <tr>
            <th>Order Id</th>
            <th>TransportOwner</th>
            <th>Budget</th>
            <th>Status</th>
            <th>Action</th>
        </tr>
        <tr>
            <td>11</td>
            <td>Joseph</td>
            <td>2400</td>
            <td>completed</td>
            <td><a href=@Url.Action("","Admin")>confirm completed</a></td>
        </tr>
        <tr>
            <td>11</td>
            <td>Joseph</td>
            <td>2400</td>
            <td>transit</td>
            <td><a href=@Url.Action("","Admin")>confirm completed</a></td>
        </tr>
        <tr>
            <td>11</td>
            <td>Joseph</td>
            <td>2400</td>
            <td>completed</td>
            <td><a href=@Url.Action("","Admin")>confirm completed</a></td>
        </tr>
        <tr>
            <td>11</td>
            <td>Joseph</td>
            <td>2400</td>
            <td>completed</td>
            <td><a href=@Url.Action("","Admin")>confirm completed</a></td>
        </tr>

    </table>
</body>


