
@{
    ViewBag.Title = "updateOrderAsConfirmedToTransportOwner";
}


<body>
    <h2>Send order confirmation to Transport Owner</h2>
    <table style="width:100%">
        <tr>
            <th>Pick Up</th>
            <th>Drop Off</th>
            <th>Comodity</th>
            <th>Weight</th>
            <th>PickUpDate</th>
            <th>Length</th>
            <th>Width</th>
            <th>Height</th>
            <th>ReceiverName</th>
            <th>ReceiverCompanyName</th>
            <th>AdditionalDetails</th>
            <th>Status</th>
            <th>Budget</th>
            <th>Send Confirmation</th>
        </tr>
        <tr>
            <td>abc</td>
            <td>def</td>
            <td>ghi</td>
            <td>abc</td>
            <td>def</td>
            <td>ghi</td>
            <td>abc</td>
            <td>def</td>
            <td>ghi</td>
            <td>abc</td>
            <td>def</td>
            <td>accepted</td>
            <td>ghi</td>
            <td><a href=@Url.Action("","Admin")>Send confirmation</a></td>
        </tr>
        <tr>
            <td>abc</td>
            <td>def</td>
            <td>ghi</td>
            <td>abc</td>
            <td>def</td>
            <td>ghi</td>
            <td>abc</td>
            <td>def</td>
            <td>ghi</td>
            <td>abc</td>
            <td>def</td>
            <td>accepted</td>
            <td>ghi</td>
            <td><a href=@Url.Action("","Admin")>Send confirmation</a></td>
        </tr>
        <tr>
            <td>abc</td>
            <td>def</td>
            <td>ghi</td>
            <td>abc</td>
            <td>def</td>
            <td>ghi</td>
            <td>abc</td>
            <td>def</td>
            <td>ghi</td>
            <td>abc</td>
            <td>def</td>
            <td>accepted</td>
            <td>ghi</td>
            <td><a href=@Url.Action("","Admin")>Send confirmation</a></td>
        </tr>
    </table>

</body>
