
@{
    ViewBag.Title = "QuoteDetails";
}

<body>
    <h2>Quote Details</h2>
    <table style="width:100%">
        <tr>
            <th>Order Id</th>
            <th>TransportOwner</th>
            <th>Budget</th>
            <th>Status</th>
            <th>Action</th>
        </tr>
        <tr>
            <td>11</td>
            <td>Joseph</td>
            <td>2400</td>
            <td>pending</td>
            <td><a href=@Url.Action("AcceptQuote","Admin")>Accept</a></td>
        </tr>
        <tr>
            <td>11</td>
            <td>Joseph</td>
            <td>2400</td>
            <td>pending</td>
            <td><a href=@Url.Action("AcceptQuote","Admin")>Accept</a></td>
        </tr>
        <tr>
            <td>11</td>
            <td>Joseph</td>
            <td>2400</td>
            <td>pending</td>
            <td><a href=@Url.Action("AcceptQuote","Admin")>Accept</a></td>
        </tr>
        <tr>
            <td>11</td>
            <td>Joseph</td>
            <td>2400</td>
            <td>pending</td>
            <td><a href=@Url.Action("AcceptQuote","Admin")>Accept</a></td>
        </tr>
        <tr>
            <td>11</td>
            <td>Joseph</td>
            <td>2400</td>
            <td>pending</td>
            <td><a href=@Url.Action("AcceptQuote","Admin")>Accept</a></td>
        </tr>

    </table>


</body>
